.page-container{
    background-color: #13192C;
    height: 100vh;

    .infobar{
        display: flex;
        gap: 15px;
    }

    .container{
        background-color: darkgrey;
        padding: 5px;

            .map-container{
            background-color: darkgrey;
            padding: 5px;

            .row{
                background-color: lightgray;
                padding: 5px;
                margin: 5px;

                .row-break{
                    background-color: black;
                }

                .more-info-button{
                    text-align: right;
                }
            }   
        }

        .users{
            background-color: darkgrey;
            padding: 5px;

            .row{
                background-color: lightgray;
                padding: 5px;
                margin: 5px;

                .more-info-button{
                    text-align: right;
                }
            }   
        }
    }
}
