.main{
    background-color: #11192e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
    gap:30px;

    span{
    font-family: 'proxima-nova', sans-serif;
    font-weight: bold;
    color:white;
    font-size:24px;
    text-align: center;
    }

    button{
        width:250px;
        border:none;
        padding:10px 30px;
        border-radius:10px;
        border:none;
        background-color: #F05432;
        font-size: 1.25em;
        color:white;
        font-weight: 600;
    }
}