.RegisterContainer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #292929;

    .RegisterBottom{
        background-color: #13192C;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        gap: 50px;
        //justify-content: center;
        //align-items: center;
        //padding-left: 10px;
        min-width: 500px;
        min-height: 400px;
        color: white;

        .RegisterTitleHeading{
            //text-align: center;
            padding-left: 10px;
        }

        .RegisterTitleHr{
            margin-right: 10px;
        }

        .RegisterForm{
            align-items: center;
            padding-left: 10px;

            .RegisterHr{
                border: none;
                padding: 1px;
            }

            .RegisterFormInput{
                border-radius: 5px;     
                width: 200px;      

            }
        }
        .SubmitButton{
            text-align: center;
        }
    }
}
