@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');

.search{
    font-family: 'proxima-nova', sans-serif;
    font-weight: bold;
    background-color: #11192e;
    color:white;
    display: flex;
    flex-direction: column;
    padding:20px;
    justify-content: center;
    height:100%;

    .searchBar{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap:5%;

        img{
            align-self:flex-start;
            width:calc(100% / 3);
        }


        button{
            background-color: transparent;
            border:none;
            color:white;
            display: flex;
            justify-content: center;
            align-items: right;
        }

        .buttons{
            display: flex;
            flex-direction: row;
            align-items: right;
            justify-content: space-evenly;
            width:calc(100% / 3);

            button{
                background-color: transparent;
                border:none;
                color:white;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        form{
            display: flex;
            flex-direction: row;
            background-color: gray;
            border-radius:5px;
            padding:5px;
            width:calc(100%/3);
            
            input{
                border:none;
                background: lightgray;
                width:90%;
            }
        }
        ::placeholder{
            color:#11192e;
        }
    }

    .contents{
        margin-top:50px;
        color: black;
        position: relative;
        // padding:0px 20px;
        display: flex;
        flex-direction: row;
        // gap:5%;
        // width:calc(100% - 20px);
        width:100%;
        
        .chemicals{
            width:25%;
            z-index:3;
        }
        
        .map{
            width:50%;
            z-index:1;
            height:600px;
        }
        
        .contact-info{
            width:25%;
            z-index:3;
        }
    }
}

@media all and (max-width:1100px){
    .search{
        .contents{
            gap:2.5%;
            .chemicals{
                width: 32.5%;
            }
            .map{
                width:30%;
            }
            .contact-info{
                width:32.5%;
            }
        }
    }
}

@media all and (max-width:784px){
    .search{
        .contents{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
            width:calc(100% - 40px);
            gap:10px;
            .chemicals{
                order: 3;
                width:45%;
            }
            .map{
                order:1;
                width:100%;
            }
            .contact-info{
                order:2;
                width:45%;
                .notVisible{
                    width:100%;
                }
            }
        }
    }
}

@media all and (max-width:585px){
    .search{

        .searchBar{
            img{
                width:calc(100% / 3);
            }

            form{
                width:50%
            }

            .buttons{
                width:calc(100% / 6);

                button{
                    span{
                        display:none;
                    }
                }
            }
        }

        .contents{
            display: flex;
            flex-direction: column;
            gap:20px;
            width:calc(100% - 40px);
            .chemicals{
                order: 3;
                width:100%;
            }
            .map{
                order:1;
                width:100%;
            }
            .contact-info{
                order:2;
                width:100%;
                .notVisible{
                    width:100%;
                }
            }
        }
    }
}