@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');

.search{
    font-family: 'proxima-nova', sans-serif;
    font-weight: bold;
    background-color: #11192e;
    color:white;
    display: flex;
    flex-direction: column;
    padding:20px;
    justify-content: center;

    .searchBar{
        display: flex;
        justify-content:space-evenly;

        button{
            background-color: lightgrey;
        }
            
        input{
            border:none;
            background: gray;
            width:85%;
        }
        ::placeholder{
            color:#11192e;
        }
    }

    .contents{
        margin-top:50px;
        color: black;
        position: relative;
        
        padding:0px 20px;
        .map{
            height:100%;
            z-index:1;
            width:100%;
        }
        .contact-info{
            z-index: 3;
            position:absolute;
            top:0px;
            right:0px;
        }
    }
}