.request-form{
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: blue;

    max-width: 500px;
    min-height: 500px;

    border-radius: 10px;

    .form-container{
        display: flex;
        gap: 20px;
        justify-content: center;
    }
}

