table{
    tr{
        td{
            border-bottom:1px solid black;
            width:200px;
        }
    }
    button{
        margin:20px;
        text-align: center;
        color:white;
        background-color: #f05432;
        border:none;
        padding:10px 25px;
        border-radius:10px;
        font-weight:600;
        font-size:14px;
        width:125px;
    }
}