.infobar{
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: #14192B;
    outline: 1px solid #f45624;
    border-color: white;
    width: 100%;
    padding-top: 10px;
    font-family: 'proxima-nova', sans-serif;

    button{
        margin: 5px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: white;
        background: transparent;
        border: none;
    }

    button:hover{
        cursor: pointer
    }

    a:hover{
        cursor:pointer
    }
}